<a href="https://colab.research.google.com/github/athulrj02/DA-Python/blob/main/20035410_%7C_Exercise_2_Data_Types_and_Variables_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Week 3 Exercise: Data Types and Variables

# 15. Create a set unique_numbers containing three unique integers.
# 16. Add a new integer to the set unique_numbers.
# 17. Create a variable x and assign it the value 10.
# 18. Increment the value of x by 5.
# 19. Create a variable y and assign it the value of x squared.
# 20. Swap the values of variables x and y.
# Good Luck!!!

In [4]:
# 1. Create a variable age and assign it the value 25.
age = 25
# 2. Create a variable name and assign it a string containing your name.
name = 'Athul'
# 3. Print the type of the variable age.
type(age)

int

In [9]:
# 4. Convert the variable age to a string and store it in a new variable age_str.
age_str = str(age)
print(type(age_str))
age_str

<class 'str'>

'25'

In [13]:
# 5. Create a variable height and assign it the value 175.5 (floating-point number).
height = 175.5

# 6. Print the type of the variable height.
type(height)

float

In [16]:
# 7. Create a variable is_student and assign it a boolean value representing whether you
# are a student or not.
is_student = True
# is_student


# 8. Print the type of the variable is_student.
type(is_student)

bool

In [18]:
# 9. Create a list colors containing the names of three colors.
colors = ['blue', 'green', 'yellow']

# 10. Print the second element of the list colors.
colors[1]

'green'

In [28]:
# 11. Create a tuple dimensions containing the length, width, and height of a box.
dimensions=('length','width','height')

# 12. Print the third element of the tuple dimensions.
dimensions[2]

'height'

In [32]:
# 13. Create a dictionary person with keys "name", "age", and "city", and assign appropriate values.
person = {
    'name': 'Sam',
    'age': '22',
    'city':'Dublin'
}
person

{'name': 'Sam', 'age': '22', 'city': 'Dublin'}

In [34]:
# 14. Print the value associated with the key "age" in the dictionary person.
person.get('age')

'22'