<a href="https://colab.research.google.com/github/athulrj02/DA-Python/blob/main/20035410_%7C_Exercise_2_Data_Types_and_Variables_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[link text](https://colab.research.google.com/drive/1sT2zPHbWQNT8__OQ8I3nyyfqLE9WW3Xs#scrollTo=-qLebJ91--Z0)Week 3 Exercise: Data Types and Variables

In [1]:
# Week 3 Exercise: Data Types and Variables

In [2]:
# 1. Create a variable age and assign it the value 25.
age = 25
# 2. Create a variable name and assign it a string containing your name.
name = 'Athul'
# 3. Print the type of the variable age.
type(age)

int

In [3]:
# 4. Convert the variable age to a string and store it in a new variable age_str.
age_str = str(age)
print(type(age_str))
age_str

<class 'str'>

'25'

In [4]:
# 5. Create a variable height and assign it the value 175.5 (floating-point number).
height = 175.5

# 6. Print the type of the variable height.
type(height)

float

In [5]:
# 7. Create a variable is_student and assign it a boolean value representing whether you
# are a student or not.
is_student = True
# is_student


# 8. Print the type of the variable is_student.
type(is_student)

bool

In [6]:
# 9. Create a list colors containing the names of three colors.
colors = ['blue', 'green', 'yellow']

# 10. Print the second element of the list colors.
colors[1]

'green'

In [7]:
# 11. Create a tuple dimensions containing the length, width, and height of a box.
dimensions=('length','width','height')

# 12. Print the third element of the tuple dimensions.
dimensions[2]

'height'

In [8]:
# 13. Create a dictionary person with keys "name", "age", and "city", and assign appropriate values.
person = {
    'name': 'Sam',
    'age': '22',
    'city':'Dublin'
}
person

{'name': 'Sam', 'age': '22', 'city': 'Dublin'}

In [9]:
# 14. Print the value associated with the key "age" in the dictionary person.
person.get('age')

'22'

In [14]:
# 15. Create a set unique_numbers containing three unique integers.
unique_numbers = {1,2,3,2}
unique_numbers

{1, 2, 3}

In [16]:
# 16. Add a new integer to the set unique_numbers.
unique_numbers.add(4)
unique_numbers

{1, 2, 3, 4}

In [31]:
# 17. Create a variable x and assign it the value 10.
x = 10
# 18. Increment the value of x by 5.
x +=5
print('x =',x)
# 19. Create a variable y and assign it the value of x squared.
y = (x*x)
print('y =',y)

# 20. Swap the values of variables x and y.
temp = x
x = y
y = temp
print('Swapped x =',x)

print('Swapped y =',y)

x = 15
y = 225
Swapped x = 225
Swapped y = 15